:host
    display block
    height 100%

   
    button
        display inline-block
        height 100%
        position relative
    .wrapper
        width 65px
        display inline-block 
        flex-flow wrap row
        justify-content center
        align-items center
        height 100%
    
        
